* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	background-image: url('../images/bg-pattern-desktop.svg') no-repeat;
	background-size: cover;
}

$Light: hsl(0, 36%, 70%);
$Darker: hsl(0, 93%, 68%);
$FormColor: hsl(0, 6%, 24%);


main {
	min-height: 97vh;
	width: 100%;
	font-size: 0;
	.image-container, .foot-container, .logo {
		display: inline-block;
	}
	.logo, .foot-container {
		width: 55%;
		margin: 0 auto;
		padding: 0 10%;
	}
	.logo span {
		height: 35px;
		width: 100%;
		display: block;
		background: url('../images/logo.svg') no-repeat;
		background-size: conain;
		margin: 65px 0;
	}
	.image-container {
		float: right;
		width: 45%;
		height: 97vh;
		background-image: url('../images/hero-desktop.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		
	}
	.foot-container {
		margin-top: 65px;
		font-size: 16px;
		h1, p {
			margin-bottom: 40px;
		}
		h1 {
			font-size: 3em;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .35em; 
			color: rgba(black, .8);
			line-height: 1.2em;
			span.red {
				font-weight: 300;
				color: $Light;
				// color: rgba($Darker,.68);
			}
			span {
				display: block;
			}
		}
		
		p {
			font-weight: 400;
			// color: rgba($Darker,.65);
			color: $Light;
			line-height: 2em;
		 }

		 form {
		 	position: relative;
		 	margin-top: 50px;
		 	input {
		 		width: 100%;
		 		border-radius: 25px;
		 		border: 1px solid rgba($Light,.6);
		 		padding: 15px;
		 	}
		 	::placeholder {
		 		padding: 10px;
		 		font-weight: 600;
		 		color: rgba($Light,.6);		 			
		 	}		
		 	.button {
		 		position: absolute;
		 		top:0px;
		 		right: 0px;
		 		padding: 12px 40px;
		 		border-radius: 25px;
		 		border: none;
		 		cursor: pointer;
		 		outline: none;
		 		background: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
		 		box-shadow: 0px 10px 50px 5px $Light;
		 		transition: .25s;
		 	}
		 	.button:hover {
		 	      background: linear-gradient(135deg, hsl(0, 80%, 86%), hsla(0, 52%, 80%, 0.781));
	              box-shadow: 0px 20px 20px 3px $Light;
	              transition: .25s; 

		 	}
		 	.error-icon {
		 		position: absolute;
		 		top: 12px;
		 		right: 100px;
		 		opacity: 0;
		 	}	
		 	.error-message {
		 		font-size: .7em;
		 		margin: 10px 0 0 25px;
		 		color: $Darker;
		 		opacity: 0;
		 	}
			
		 }
		 form.Errors {
		 	.error-icon, .error-message {
		 		opacity: 1;
		 	}
		 }

		 form.Errors > input {
		 	border: 2px solid $Darker;
		 }

	}
}

@media screen and (max-width: 400px) {
	main {
		.image-container, .foot-container, .logo {
				display: block;
				padding: 0;
				margin: 0 auto;
				width: 100%;
				height: auto;
			}
	}
	main > .logo {
		width: 80%;
		> span {
			margin: 20px 0;
		}
		
	}
	main > .image-container {
		width: 100%;
		float:none;
		background: url('../images/hero-mobile.jpg') no-repeat;
		background-size: contain;
		padding: 40%;
	}
	main > .foot-container {
		width: 80%;
		// margin: 0 auto;
		text-align: center;
	}
}